<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This website is made by Kushagra Agrawal. It uses the openweathermap API and the mapbox API 
                to provide you with the weather information.</p>
            <img class="portrait" src="/img/picg.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>