<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <p id="help"> Contact us at akushagra05@gmail.com</p>
        </div>
        {{>footer}}
    </body>
</html>